$purple: #853aff;
$pink: #dc6be6;
$white: #ffffff;
$dark: #1f1f1f;
$red: #ff0000;
$yellow: #ffea2e;
$green: #20ca39;
$lightgray: #c9c9c9;

$transition: all 250ms ease;

.shadowed {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}